---
import TooltipIcon from './TooltipIcon.astro'

import Javascript from './icons/tech/Javascript.astro'
import HTML from './icons/tech/HTML.astro'
import CSS from './icons/tech/CSS.astro'
import PHP from './icons/tech/PHP.astro'
import MySQL from './icons/tech/MySQL.astro'
import Linkedin from './icons/social/Linkedin.astro'
import GitHub from './icons/social/GitHub.astro'
import Instagram from './icons/social/Instagram.astro'
import Codepen from './icons/social/Codepen.astro'
import Mail from './icons/misc/Mail.astro'
import Search from './icons/misc/Search.astro'
import User from './icons/misc/User.astro'

let {name, color, size, tooltip} = Astro.props;
let [type,icon] = name.split(':')

tooltip ??= {
  show : true,
  text : null
}
color ??= 'currentColor'
size ??= 64

let {show, text} = tooltip
show ??= true

const map = {
  "tech": {
    "js" : [Javascript,"JavaScript"],
    "html" : [HTML,"HTML"],
    "css" : [CSS,"CSS"],
    "php" : [PHP,"PHP"],
    "mysql" : [MySQL,"MySQL"],
  },
  "social":{
    "linkedin" : [Linkedin,"LinkedIn"],
    "github" : [GitHub, "GitHub"],
    "instagram" : [Instagram, "Instagram"],
    "codepen" : [Codepen, "Codepen"],
  },
  "misc":{
    "mail" : [Mail, "Mail"],
    "search" : [Search, "Search"],
    "user" : [User, "User"],
  }
}

if (text) {
  text = text.replace(/%%/g,map[type][icon][1])
}

const IconComponent = map[type][icon][0]

const toolTipText = text ?? map[type][icon][1]
---

<div data-container-anner>
  <svg aria-label={tooltip} data-icon-anner width={size} height={size} viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <IconComponent color={color}/>
  </svg>
  {
    show ? <TooltipIcon text={toolTipText} /> : ""
  }
  
</div>

<style is:global>
  [data-container-anner]{
    position: relative;
    display: inline-block;
    width: min-content;
  }



  [data-container-anner]:hover > *:not([data-icon-anner]){
    visibility: visible;
  }

  [data-icon-anner]{
    display: block;
    margin: auto;
  }
  
  [data-container-anner] > *:not([data-icon-anner]){
    width: max-content;
    font-size: 12px;
    font-weight: bolder;
    visibility: hidden;
    background-color: var(--clr-text);
    color: var(--clr-background);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    
  
    position: absolute;
    top: -2rem;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
  }

</style>
