---
import ProjectCard from "./ProjectCard.astro";


const projects = [
  {
    name : "Web de Los Simuladores",
    src : "losSimuladores.png",
    descr : "Página dinámica SSR que se conecta a una base de datos MySQL (sin deploy)",
    href : "https://github.com/LukaSaldivia/web-simuladores",
    clr : "#006633",
    icons : ["tech:js","tech:html","tech:css","tech:php","tech:mysql"]

  },
  {
    name : "Página de Messi",
    src : "paginaMessi.png",
    descr : "Página estática desarrollada para la carrera TUDAI",
    href : "https://lukasaldivia.github.io/paginaMessi",
    clr : "#774f00",
    icons : ["tech:js","tech:html","tech:css"]
  },
  {
    name : "API de Los Simuladores",
    src : "apiSimuladores.png",
    descr : "API de una recopilación de todo el contenido relacionado a Los Simuladores en Youtube",
    href : "https://github.com/LukaSaldivia/simuladores-api",
    clr : "#006600",
    icons : ["tech:php","tech:mysql"]

  }

]
---

<section class="projects">
	<h2>Proyectos destacados</h2>
  {
    projects.map(({src, name, descr, clr, href, icons}) => (
      <ProjectCard src={src} name={name} descr={descr} href={href} clr={clr} icons={icons}/>
    ))
  }
</section>

<style>
  	.projects{
		display: grid;
		gap: var(--fs-400);
	}

  h2{
    width: fit-content;
    background: linear-gradient(45deg, var(--clr-primary-light), var(--clr-text));
    -webkit-background-clip: text;
    color: transparent;

    font-size: 3em;
    margin-inline: auto;
  }
</style>
